[user]
	name = Bernd Robertz
	email = bernd@brobertz.net
	signingkey = 39D56C89A000815CF3460A9A36AA3B5027D24A3E
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = main
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
