[user]
	name = Bernd Robertz
	email = brobertz.net@gmail.com
	signingkey = C65EE551C85EDB0D5C9B8D5B4946FE9054E19ADB
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = main
[core]
	editor = nvim
[gpg]
	program = /mnt/c/Program Files/gnupg/bin/gpg.exe
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
